body{
    background-color:		#383838;
}
.form_border{
    display: flex;
    justify-content:center;
    text-align:center;
    flex-direction:column;
}
h1{
    color: #0B5ED7;
    font-size: 4.5rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
}
textarea{
    margin-top:24px;
    padding:10px;
    border:5px solid #0B5ED7;
    background-color:	#F5F5F5;
    font-size:bold;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-family: "montserrat", "Helvetica Neue",;
}
.inputFields{
    margin-top: 4em;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.input-group{
    border: 3px solid #0B5ED7; 
    padding: 0;
    border-radius: 5px;
    width: 70%;
}
.prog-container{
    margin-top: 4em;
    /* width: 50%; */
}